{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block main-content %}
<h1 class="page-header">Comparação de Usuários</h1>

<div class="row placeholders">

  {% if user1 %}
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="{{ user1.avatar_url }}" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>{{ user1.name }}</h4>
        <span class="text-muted">Posição no Ranking: {{ user1.position }}</span>
      </div>
  {% else %}
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Usuário 1</h4>
      <span class="text-muted">Posição no Ranking</span>
    </div>
  {% endif %}

  {% if user2 %}
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="{{ user2.avatar_url }}" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>{{ user2.name }}</h4>
        <span class="text-muted">Posição no Ranking: {{ user2.position }}</span>
      </div>
  {% else %}
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Usuário 2</h4>
      <span class="text-muted">Posição no Ranking</span>
    </div>
  {% endif %}

  <div class="col-xs-12 col-sm-6 table-responsive">
    <form class="form-inline" action="{% url 'update_user' %}" method="GET">
      <label class="sub-header col-sm-5">Usuários</label>
      <input type="text" class="form-control" name="user" placeholder="User ID" />
      <input type="submit" class="btn btn-default btn-sm" value="Adicionar" />
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Questões</th>
          <th>Posição</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td><a href="{{ user.get_url }}" target="_blank">{{ user.id }}</a></td>
            {% if user1 and not user2 %}
            <td><a href="{% url 'compare' %}?user1={{ user1.id }}&user2={{ user.id }}">{{ user.name }}</td>
            {% else %}
              <td><a href="{% url 'compare' %}?user1={{ user.id }}">{{ user.name }}</td>
            {% endif %}
            <td>
              {{ user.questions.count }}
              <a href="{% url 'update_user_questions' %}?user={{ user.id }}" title="Atualizar">
              <i class=" glyphicon glyphicon-eject"></i></a>
            </td>
            <td>{{ user.position }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h2 class="sub-header">Questões</h2>
<div class="col-xs-12 col-sm-6 table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Resolvido</th>
        <th>Nível</th>
      </tr>
    </thead>
    <tbody>
      {% for question in questions1 %}
        <tr>
          <td><a href="{{ question.get_url }}" target="_blank">{{ question.id }}</a></td>
          <td>{{ question.name }}</td>
          <td>{{ question.category }}</td>
          <td>{{ question.solved }}</td>
          <td>{{ question.level }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="col-xs-12 col-sm-6 table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Resolvido</th>
        <th>Nível</th>
      </tr>
    </thead>
    <tbody>
      {% for question in questions2 %}
        <tr>
          <td><a href="{{ question.get_url }}" target="_blank">{{ question.id }}</a></td>
          <td>{{ question.name }}</td>
          <td>{{ question.category }}</td>
          <td>{{ question.solved }}</td>
          <td>{{ question.level }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
