{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}


{% block main-content %}
<!--
<h1 class="page-header">Comparação de Usuários</h1>

<div class="row placeholders">

  {% if user1 and user2 %}
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="{{ user1.avatar_url }}" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>{{ user1.name }}</h4>
        <span class="text-muted">Posição no Ranking: {{ user1.position }}</span>
      </div>

      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="{{ user2.avatar_url }}" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>{{ user2.name }}</h4>
        <span class="text-muted">Posição no Ranking: {{ user2.position }}</span>
      </div>

  {% else %}
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Usuário 1</h4>
      <span class="text-muted">Posição no Ranking</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Usuário 2</h4>
      <span class="text-muted">Posição no Ranking</span>
    </div>
  {% endif %}

  <div class="col-xs-12 col-sm-6 bg-success" border="1">
    <h4>Seleção de usuários</h4>
    <span class="text-muted">Seleção de usuários para comparação</span>
  </div>
</div>
-->

<h2 class="sub-header">Home</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Resolvido</th>
        <th>Nível</th>
      </tr>
    </thead>
    <tbody>
      {% for question in questions %}
        <tr>
          <td><a href="{{ question.get_url }}" target="_blank">{{ question.id }}</a></td>
          <td>{{ question.name }}</td>
          <td>{{ question.category }}</td>
          <td>{{ question.questions.count }}</td>
          <td>{{ question.level }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
